.App {
  height: 100%;
  text-align: center;
}

.border {
  border: solid #777777 1px;
  border-radius: 0.5rem;
}

.grey {
  background-color: #ECECEC;
}

.white {
  background-color: white;
}

.grey.hover:hover{
  background-color: #DCDCDC;
}
